html, body { margin: 0; padding: 0;}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas:
        "nav nav nav nav nav nav nav nav nav nav nav nav"
        ". . . . . . . . . . . ."
        ". . . . . . . . . . . ."
        ". . . . . . . . . . . ."
        ". . . . . main main . . . . ."
        ". . . . . main main . . . . ."
        ". . . . . main main . . . . ."
        ". . . . . . . . . . . ."
        ". . . . . . . . . . . ."
        ". . . . . . . . . . . ."
        ". . . . . . . . . . . ."
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    height: 100vh;
    width: 100vw;
}

li {
    display: inline;
    list-style-type: none;
    color: rgb(64, 64, 68);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20;
    margin: 10px 10px;
}

#signin {
    background-color: rgb(69, 139, 245);
    color: white;
    border-radius: 3px;
    width: 65px;
    border: transparent;
    height: 30px;
    font-weight: 600;
    letter-spacing: 0.5px;
}


#searchbar {
    width: 550px;
    height: 40px;
    border-radius: 20px;
    border-color: rgb(184, 184, 184);
    border-width: 1px;
}

#googlesearch {
    border: transparent;
    background-color: rgb(248, 246, 246);
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: gray;
}

#googlesearch:hover {
    cursor: pointer;
    border: solid;
    border-color: rgb(170, 170, 170);
    border-width: 1px;
    color: black;
}

#lucky {
    border: transparent;
    background-color: rgb(248, 246, 246);
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: gray;
}

#lucky:hover {
    cursor: pointer;
    border: solid;
    border-color: rgb(170, 170, 170);
    border-width: 1px;
    color: black;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
    float: center;
    justify-content: center;
    align-items: center;
}


footer {
    grid-area: footer;
}


.tl {
    float: left;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tr {
    float: right;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bl {
    float: left;
    justify-content: center;
    align-items: center;
}

.br {
    float: right;
    justify-content: center;
    align-items: center;
}